@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
    --black: #010400;
    --blackolive: #30332E;
    --snow: #FFFBFC;
    --salmon: #DB8A74;
    --lightblue: #94F2FF;
    --bluelink: #0047FF;
}

html {
    font-family: "Julius Sans One", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--lightblue);
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1300px 1fr;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  ::-webkit-scrollbar-track {
    background: var(--snow); 
}

  ::-webkit-scrollbar-thumb {
    background: var(--black); 
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--blackolive); 
}

.header {
    grid-column-start: 2;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.body__header {
    width: -webkit-fill-available;
    display: grid;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--black);
    position: relative;
    z-index: 1;
    grid-column: 1 / 4;
    grid-template-columns: 1fr 1300px 1fr;
}

.nameandlogo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nameandlogo img {
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

h1 {
    color: var(--snow);
}

.checkbox {
    display: none;
}

.header__navigation img {
    transition: .5s;
}

.body__header:has(.checkbox:checked) 
.header__navigation--invisible {
    transform: translateY(93.4px);
}

.body__header:has(.checkbox:checked) .header__navigation img {
    transform: rotate(180deg);
}

.header__navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header__navigation p  {
    color: var(--snow);
    font-size: 20px;
}

.header__navigation--invisible {
    position: absolute;
    right: -15px;
    transform: translateY(-500px);
    transition: .5s;
    z-index: 0;
}

.header__navigation--invisible a {
    display: flex;
    justify-content: end;
    gap: 30px;
    text-decoration: none;
    background-color: var(--black);
    margin: -1px 0;
    padding: 10px 30px;
    transition: .5s;
}

.header__navigation--invisible a:hover {
    background-color: var(--blackolive);
}

.header__navigation--invisible p {
    color: var(--snow);
    font-size: 20px;
    margin: 5px 0;
}

.header__navigation--invisible ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.header__navigation--invisible li {
    background-color: var(--primarycolor);
    color: white;
    position: relative;
}

.header__navigation > ul > li::marker {
    content: "";
}

.header__navigation li:hover .header__navigation--underline {
    width: 100%;
    transition: .5s;
    left: 0%;
}

.header__navigation li a p {
    margin: 0;
    font-size: 20px;
}

.header__navigation li a:link {
    color: inherit;
    text-decoration: none;
}

.header__navigation li a:visited {
    color: inherit;
}

.cipher {
    grid-column-start: 2;
    grid-row-start: 2;
}

.cipher h2 {
    margin: 50px 0;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.inputs textarea {
    width: 100%;
    height: 350px;
    resize: none;
    background-color: var(--snow);
    border: solid var(--black);
    border-radius: 5px;
}

.inputs textarea[name=text] {
    font-size: 18px;
    padding: 20px;
    font-size: var(--black);
    font-family: "Julius Sans One", sans-serif;
}

.inputs textarea:focus {
    border: solid rgb(0, 155, 21);
    border-radius: 5px;
    outline: none;
}

.inputs .textarea--second:focus {
    width: 100%;
    height: 350px;
    resize: none;
    background-color: var(--snow);
    border: solid var(--black);
    border-radius: 5px;
}

.buttonsforoperations {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.buttonsforoperations button {
    padding: 20px 30px;
    font-family: inherit;
    background-color: var(--black);
    color: var(--snow);
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    gap: 30px;
    margin-top: 30px; 
}

form input:nth-child(n+2):nth-child(-n+3) {
    padding: 20px 30px;
    color: var(--snow);
    background-color: var(--black);
    font-family: inherit;
}